@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500&display=swap');

.section{
    background-color: #f2f2f5;
    padding-bottom: 150px;
    min-height: 90vh;
}

.navbar-brand{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-family: 'Lobster', cursive;
}

/* ----------------------------------------- AddTodo ----------------------------------------- */

.submit-btn{
    margin-top: 20px;
    width:500px;
    position: relative;
    left:25%;
}


/* ----------------------------------------- Footer ------------------------------------------------- */

.footer{
    margin-top: -54px;
    padding: 1rem;
    background-color: #0A192F;
    color: #fff !important;
  }
  .footer a{
    color: #fff;
    margin-left: 5px;
  }